<?xml version="1.0"?>

<config>
    <modules>
        <Icepay_IceAdvanced>
            <version>1.1.9</version>
        </Icepay_IceAdvanced>
    </modules>
    <frontend>
        <routers>
            <iceadvanced>
                <use>standard</use>
                <args>
                    <module>Icepay_IceAdvanced</module>
                    <frontName>icepayadvanced</frontName>
                </args>
            </iceadvanced>
        </routers>
        <layout>
            <updates>
                <iceadvanced>
                    <file>iceadvanced.xml</file>
                </iceadvanced>
            </updates>
        </layout>
        <translate>
            <modules>
                <Icepay_IceAdvanced>
                    <files>
                        <default>Icepay_IceAdvanced.csv</default>
                    </files>
                </Icepay_IceAdvanced>
            </modules>
        </translate>
        <events>
            <sales_order_place_before>
                <observers>
                    <iceadvanced>
                        <type>singleton</type>
                        <class>iceadvanced/observer</class>
                        <method>sales_order_place_before</method>
                    </iceadvanced>
                </observers>
            </sales_order_place_before>
            <custom_quote_process>
                <observers>
                    <iceadvanced>
                        <type>singleton</type>
                        <class>iceadvanced/observer</class>
                        <method>custom_quote_process</method>
                    </iceadvanced>
                </observers>
            </custom_quote_process>
        </events>
    </frontend>
    
    <global>
        <models>
            <iceadvanced>
                <class>Icepay_IceAdvanced_Model</class>
                <resourceModel>iceadvanced_mysql4</resourceModel>
            </iceadvanced>
            <iceadvanced_mysql4>
                <class>Icepay_IceAdvanced_Model_Mysql4</class>
                <entities>
                    <icepay_issuerdata>
                        <table>icepay_issuerdata</table>
                    </icepay_issuerdata>
                    <icepay_pmdata>
                        <table>icepay_pmdata</table>
                    </icepay_pmdata>
                </entities>
            </iceadvanced_mysql4>
        </models>
        <resources>
            <icepayadvanced_setup>
                <setup>
                    <module>Icepay_IceAdvanced</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </icepayadvanced_setup>
            <iceadvanced_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iceadvanced_write>
            <iceadvanced_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iceadvanced_read>
        </resources>
        <blocks>
            <iceadvanced>
                <class>Icepay_IceAdvanced_Block</class>
            </iceadvanced>
        </blocks>
        <helpers>
            <iceadvanced>
                <class>Icepay_IceAdvanced_Helper</class>
            </iceadvanced>
        </helpers>
        <events>
            <model_save_before>
                <observers>
                    <iceadvanced>
                        <type>singleton</type>
                        <class>iceadvanced/observer</class>
                        <method>model_save_before</method>
                    </iceadvanced>
                </observers>
            </model_save_before>
            <model_save_after>
                <observers>
                    <iceadvanced>
                        <type>singleton</type>
                        <class>iceadvanced/observer</class>
                        <method>model_save_after</method>
                    </iceadvanced>
                </observers>
            </model_save_after>
            <sales_order_payment_place_end>
                <observers>
                    <iceadvanced>
                        <type>singleton</type>
                        <class>iceadvanced/observer</class>
                        <method>sales_order_payment_place_end</method>
                    </iceadvanced>
                </observers>
            </sales_order_payment_place_end>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Icepay_IceAdvanced>
                    <files>
                        <default>Icepay_IceAdvanced.csv</default>
                    </files>
                </Icepay_IceAdvanced>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iceadvanced translate="title" module="iceadvanced">
                                            <title>iceadvanced Settings</title>
                                        </iceadvanced>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>