<?xml version="1.0"?>
<config>
    <sections>
        <icecore translate="label" module="icecore">
            <label>ICEPAY</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <class>icepay-section</class>
            <header_css>icepay-header</header_css>
            <sort_order>350</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <advanced_settings translate="label comment">
                    <label>Paymentmethods</label>
                    <comment>Configure ICEPAY paymentmethods [STORE VIEW]</comment>
                    <expanded>0</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <paymentmethods>
                            <label>Paymentmethods</label>
                            <frontend_model>iceadvanced/adminhtml_grid_paymentmethods</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <config_path>payment/icepay_testicepay/paymentmethods</config_path>
                        </paymentmethods>
                        <info>
                            <label>Configuration Information</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>iceadvanced/adminhtml_checkSettings</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </info>
                    </fields>
                </advanced_settings>
            </groups>
        </icecore>
    </sections>
</config>